.root-wrapper {
    display: flex;
}

.left-block {
    min-height: 100vh;
    height: 100%;
    max-width: 220px;
    width: 100%;
    display: block;
    background: #2b2f3e;
}

.right-block{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: block;
    background: #eee;
}