.root-wrapper {
    display: flex;
}

.left-block {
    min-height: 100vh;
    max-width: 220px;
    width: 100%;
    display: block;
    background: #2b2f3e;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.right-block {
    min-height: 100vh;
    width: 100%;
    display: block;
    padding: 30px 0 0 30px;
    background: #eee;
    
}
.left-block__title{
    text-transform: uppercase;
    font-size: 30px;
    color: #fffefe;
    font-weight: 200;
}

.left-block__description{
    font-weight: 200;
    color: #656565;
}