.root-wrapper {
    display: flex;
}

.left-block {
    min-height: 100vh;
    max-width: 220px;
    width: 100%;
    display: block;
    background: #2b2f3e;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.right-block {
    min-height: 100vh;
    width: 100%;
    padding: 30px 30px 0;
    background: #eee;
    display: flex;
    // flex-wrap: wrap;
    align-items: flex-start;
    
}
.left-block__title{
    text-transform: uppercase;
    font-size: 30px;
    color: #fffefe;
    font-weight: 200;
}

.left-block__description{
    font-weight: 200;
    color: #656565;
}

@media only screen and (max-width: 1100px) {
    .right-block{
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 700px) {
    .root-wrapper {
        flex-direction: column;
    }

    .left-block {
        max-width: none;
        min-height: 85px;
    }
}