.comments-wrapper {
    max-width: 450px;
    min-width: 400px;
    width: 100%;
    display: flex;
    min-height: 550px;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border: 3px solid #c3c3c3;
    padding: 12px 25px;
    margin: 0 20px 50px 0;
}

.сomments-title {
    font-weight: 200;
    color: #5f5e5e;
    margin-bottom: 20px;
}

.comments-block {
    margin-bottom: auto;
}


.comments-block__item {
    display: flex;
    position: relative;
    border-bottom: 2px solid #eee;
    padding: 17px 0;
}

.comments-block__logo {
    height: 60px;
    max-width: 60px;
    width: 100%;
    margin-right: 15px;
}

@media only screen and (max-width: 1100px) {
    .comments-wrapper {
        margin: 0 0 50px;
    }
}